body {
  text-align: center;
  background-color: #011F3F;
  
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.8rem;
  margin:  3%;
  color: #FEF2BF;
  line-height: 1.5;
}

#score{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.8rem;
  margin:  3%;
  color: #fffae3;
  line-height: 1.5;
}

.container {
  display: block;
  width: 70%;
  margin: auto;

}

.row{
  padding: 10px;
}

.path{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  padding: 3%;
  margin: 5%;
  background-color: #FEF2BF;
  border: 2px whitesmoke solid;
}

.path:hover{
  background-color: #ccbe82;
}

.btn {
  margin: 2.5% 7%;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 10px solid black;
  border-radius: 20%;
}

@media screen and (max-width:728px) {
  
  #level-title {
    font-size: 1.8rem;
    margin: 5%;
  }

  #score{
    font-size: 1.2rem;
    margin:7%;
  }

  .btn {
    height: 100px;
    width: 100px;
    border: 5px solid black;
  }

  .path{
    font-size: 0.75rem;
    margin: 7%;
  }

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.tablet {
  margin: 20px;
  display: inline-block;
  height: 100px;
  width: 180px;
  border: 5px solid grey;
  padding: 8px;
  color: #FEF2BF;
  border-radius: 20%;
  font-size: 18px;
  background-color: inherit;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
}