body {
  text-align: center;
  background-color: #011F3F;
  
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.8rem;
  margin:  2%;
  color: #FEF2BF;
  line-height: 1.5;
}

h2, h3{
  font-family: 'Press Start 2P', cursive;
  margin:  2%;
  color: #fffae3;
  line-height: 1.5;
}

#highest-score{
  font-size: 1.8rem;
}

#current-score{
  font-size: 1.5rem;
}

.container {
  display: block;
  width: 80%;
  margin: auto;
}

.row{
  padding: 10px;
}

.path{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  padding: 3%;
  margin: 5%;
  background-color: #FEF2BF;
  border: 2px whitesmoke solid;
}

.path:hover{
  background-color: #ccbe82;
}

.btn {
  margin: 0 5%;
  display: inline-block;
  height: 220px;
  width: 220px;
  border: 10px solid black;
  border-radius: 20%;
}

.guide{
  color: white;
  font-size: .85rem;
  font-family: 'Press Start 2P', cursive;
  width: max-content;
  padding: 3% 0;
  margin: 0 auto;
}

.guide[data-guide]{
  position: relative;
}

.guide[data-guide]::after{
  content: attr(data-guide);
  position: absolute;
  top: 0%;
  left: 0;
  display: block;
  padding: 10%;
  width: 120%;
  border-radius: 10px;
  color: black;
  background-color: aliceblue;
  text-align: left;
  font-size: .65rem;
  line-height: 18px;
  transform: scale(0);
  transition: transform ease-in-out 250ms;
  
}

.guide[data-guide]:hover:after{
  transform: scale(1);
}

@media screen and (max-width:734px) {
  
  #level-title {
    font-size: 1.8rem;
    margin: 5%;
  }

  #highest-score{
    font-size: 1.2rem;
    margin:7%;
  }

  #current-score{
    font-size: 1rem;
    margin:7%;
  }

  .btn {
    height: 130px;
    width: 130px;
    border: 3px solid black;
  }

  .path{
    font-size: 0.75rem;
    margin: 7%;
  }

  .guide{
    font-size:.67rem;
  }

  .guide[data-guide]::after{
    font-size: .52rem;
    line-height: 1rem;
  }

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.tablet {
  margin: 20px;
  display: inline-block;
  height: 100px;
  width: 180px;
  border: 5px solid grey;
  padding: 8px;
  color: #FEF2BF;
  border-radius: 20%;
  font-size: 18px;
  background-color: inherit;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
}